@font-face {
  font-family: 'Dearest Dorothy';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('DearestDorothy.woff2') format('woff2'),
    url('DearestDorothy.woff') format('woff');
}

@font-face {
  font-family: 'Hiawatha';
  font-style: normal;
  font-weight: normal;
  src: url('WFHiawatha.woff2') format('woff2'),
    url('WFHiawatha.otf') format('otf'), url('WFHiawatha.woff') format('woff');
  text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ibarra Real Nova', serif;
  background: #fefdf8;
  color: #150802;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Hiawatha';
  font-weight: 400;
  margin-bottom: 0.5em;
}
h1 {
  color: #851a12;
  font-size: 4em;
}
h2,
h3,
h4,
h5 {
  /*color: #2a2c24;*/
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 18px;
}
th,
td {
  padding: 0em 1em;
}
blockquote {
  font-family: 'Hiawatha';
  font-size: 1.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p > a {
  color: #851a12;
}

p > a:visited {
  color: #851a12;
}

.Collapsible {
  display: inline;
  vertical-align: middle;
}

.Collapsible__trigger {
  padding: 4px;
  color: #851a12;
}
.react-icons {
  vertical-align: middle;
}
