@font-face {
  font-family: 'Dearest Dorothy';
  src: url('DearestDorothy.woff2') format('woff2'),
    url('DearestDorothy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Vollkorn', serif;
  background: #fefef5;
  color: #503e3a;
}
h1 {
  color: #9a4456;
  font-family: 'Dearest Dorothy';
  font-weight: 400;
  font-size: 72px;
}
h2,
h3,
h4,
h5 {
  color: #429c91;
}
th,
td {
  padding: 0em 1em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Collapsible {
  display: inline;
  vertical-align: middle;
}

.Collapsible__trigger {
  padding: 4px;
  color: #9a4456;
}
.react-icons {
  vertical-align: middle;
}
