.App {}

.Page-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  cursor: default;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Page-content {
  padding-left: calc(96px + env(safe-area-inset-left));
  padding-right: calc(96px + env(safe-area-inset-right));
  max-width: 100%;
  margin-bottom: 8px;
  width: 900px;
}

.Page-portrait-container {
  display: flex;
  flex-direction: row;
  fex-wrap: wrap;
}

.Page-header-image {
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 30vh;
  opacity: 1;
  object-position: center 39.59%;
}

.Page-header-icon {
  display: flex;
  height: 78px;
  width: 78px;

  align-items: center;
  justify-content: center;

  align-self: flex-start;
  border-radius: 3px;
  flex-shrink: 0;
  margin-top: -24px;
  margin-left: 3px;
  margin-bottom: 0px;

  position: relative;
  z-index: 1;

  font-size: 78px;
  color: black;
  line-height: 1em;
}

.SubPageNav {
  list-style: none;
}

.ParentPageNav {
  display: flex;
  margin: 5px;
}

.ParentPageNavLink {
  padding: 5px;
}

.NavLink {
  color: inherit;
  text-decoration: inherit;
}

.dataframe {
  border-collapse: collapse;
}
